*{
box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-container{

    width: 100%;
    height: 100vh;
    position: relative;
    /* display: flex;
    justify-content: center; */
    overflow: hidden;
}

.main-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(blurred-abstract-background-interior-view-looking-out-toward-empty-office-lobby-entrance-doors-glass-curtain-wall-with-frame.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    z-index: -1;
}

.form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;  
    transition: 1s all;
}



form{
    /* margin: auto; */
    display: inline-block;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: normal; */
    /* justify-content: center; */
    /* width: 30%; */
    width: 343px;
    /* min-height: 77vh; */
    background-color: rgb(255, 255, 255);
    background-color: #ffffff40;
    text-align: center;
    transition: 0.5s all;
}
form h1{
 
    font-size: 2rem;
    margin-top: 6%;
    margin-bottom: 13%;
}

label{
    text-align: center;
    font-size: 1rem;
    display: block;
    margin-bottom: 1.5%;
    margin-top: 8%;
    font-weight: bolder;
}

label:nth-child(1){}
label:nth-child(1){}
label:nth-child(1){}

input{
    width: 100%;
    padding: 3% 6%;
    border-radius: 39px;
    /* border: none; */
    border: 2px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    text-align: center;
    background-color: transparent;
}

input:focus{
    
    outline: 0;
}

.error{
    font-size: 0.9rem;
    /* padding-left: 25px; */
    padding: 1% 9%;
    padding-top: 6px;
    /* transition: 1s all; */
}

.erroru{
    font-size: 0.9rem;
    /* transition: 1s all; */

}


.erroru p{
    color:indianred;
    padding-left: 0px;
    margin:20px -1px;
    margin-bottom: 0;
    transition: 1s all;
}

.error li{
    color: indianred;
    margin: 5px 0;
    transition: 1s all;
}

ul{
    color:indianred;
    padding-left: 20px;
    margin: 0;  /*    included margin:0    */
    /* transition: 1s all; */
}


ol{
    color:indianred;
    padding-left: 20px;
    margin: 0;  /*    included margin:0    */
    /* transition: 1s all; */
    padding-left: 0;
}



.error-style{
    /* border:1px solid indianred; */
}


.extra-height{

    height: 95vh;
    transition: 0.5s all;
   
 }

 .h{
    height:71vh ;
    transition: 0.5s all;
 }

div:has(>input){
    width: 80%;
    margin: auto;
}

.btn{
    display: block;
    margin: auto;
    margin-top: 6%;
    width: 283px;
    height: 41px;
    padding: 2%;
    border-radius: 50px;
    border: none;
    border: 1px solid black;
    font-size: 1rem;
    background-color: black;
    color: white;
    transition: 0.5s all;

    position: absolute;
    /* bottom: 9%; */
    bottom: 11%;
    right: 29px;
    right: 7%;

}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 4%;
    gap: 1rem;

    position: absolute;
    bottom: 0px;
    margin-bottom: 10%;
    bottom: -15px;
}

.icons img{
    width: 7%;
}





.Welc-page{
    /* min-height: 77vh; */
    width: 343px;
    background-color: #FF4B2B;
    background-color: #3F5EFB;
    transition: 0.5s all;
    background: linear-gradient(to right, #8a2387, #e94057, #f27121);
    position: relative;
    transition: 1s all;
}

.pos-center{
    transform: translateX(-50%);
    transition: 0.7s all;
}

.pos-right{
  transform: translateX(0%);
    transition: 0.7s all;
}

.pos-form-center{
    transform: translateX(50%);
    transition: 0.7s all;
}
.pos-form-left{
    transform: translateX(0%);
    transition: 0.7s all;
}

.Welc-page button{
    width: 152px;
    height: 47px;
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;

    border: 3px solid white;
    border-radius: 71px;
    background: transparent;
    color: white;
}









@media screen and (max-width:1024px) {}
@media screen and (max-width:768px) {

    form{
        width: 250px;
    }
    .Welc-page{
        width: 250px;
    }
    .h{
        height: 61vh;
    }

    form h1{
        font-size: 1.5rem;
    }
    label{
        font-size: 0.9rem;
    }
    .btn{
        width: 87%;
        height: 35px;
    }

    .erroru p{
        font-size: 0.7rem;
    }

    .error {
        font-size: 0.7rem;
    }
    ul{
        list-style: none;
    }
    .extra-height{
        height: 79vh;
    }

    .error{        
    padding: 0px 13px;
    padding-top: 6px;

    }


    .Welc-page button {
        width: 132px;
        height: 47px;
        font-size: 0.9rem;
    }

}








@media screen and (max-width:480px) {


    .pos-form-left{
        transform: translateX(0%);
        visibility: visible;
    }

    .pos-form-center{
        transform: translateX(0%);
        visibility: hidden;
    }
    .pos-center{
        transform: translateX(0%);
        position: absolute;
    }

    .pos-right{
        position: absolute;
        /* transform: translateX(100%); */
        transition: 1s all;
        /* display: none; */
       
        /* z-index: -2; */
        /* top: -100%; */
        transform: translate(150%);
        /* height: 0;
        width: 0; */
        /* overflow: hidden; */

    }

    .extra-height{
        height: 86vh;
    }

    .Welc-page{
        width: 307px;
    }

    form{
        width: 307px;
    }

    .icons{
        margin-bottom: 1%;
    }
}